body {
  margin: 0;
}

/* Header styling */
.eds-global-header__main {
  display: flex;
  height: 8vh;
  background-color: #fff;
  font-size: 14px;
  justify-content: space-between;
}

.eds-global-header__major {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  /* height: 59px; */
  font-size: 14px;
  max-width: 666px;
}

.eds-global-header__logo-link {
  display: flex;
  align-items: center;
  flex: none;
  height: 100%;
  background-color: green;
}

.eds-vector-image {
  height: 20px;
  width: 99px;
  max-height: 100%;
  max-width: 100%;
  padding: 0 24px;
}

.eds-global-header__search {
  display: flex;
  max-width: 472px;
  height: 100%;
  flex: 1;
}

.search-bar {
  padding: 25px 10px;
  background-color: #826fa7;
  display: flex;
  align-items: center;
  width: 100%;
}

.eds-global-header__quick-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
  height: 100%;
  padding: 0 5px;
}

.eds-global-header__minor {
  align-items: center;
  background-color: brown;
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
}

.eds-global-header__additional-menu {
  align-items: center;
  background-color: light burlywood;
  border-right: #826fa7;
  border-radius: 1px;
  display: flex;
  height: 100%;
  padding: 0px 5px;
  justify-content: center;
  width: 33%;
}

/* Body content styling */
.body-content {
  display: flex;
  height: 84vh;
  justify-content: space-between;
  gap: 5%;
}

.ticket-left {
  background-color: goldenrod;
  width: 40%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: left;
  /* justify-content: space-between; */
}

.event-image {
  max-width: 100%;
}

.ticket-left__content {
  padding: 20px;
}

.ticket-left h1 {
  font-size: 2rem;
  margin: 10px 0;
}

.view-receipt-btn {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.1rem;
}

.view-receipt-btn:hover {
  background-color: rgb(220, 90, 50);
}

.ticket-right {
  width: 60%;
  border-radius: 10px;
  color: purple;
}

.ticket-right h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

hr {
  color: purple;
}

.contact-info p {
  margin: 10px 0;
  font-size: 1.1rem;
}

/* Footer styling */
.footer {
  background-color: rgb(17, 215, 215);
  height: 8vh;
  /* position: fixed;
  left: 0;
  bottom: 0; */
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  font-size: 13px;
}

.footer-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #826fa7;
}

.footer-list {
  display: flex;
  gap: 5px 25px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.footer-list-item {
  content: "●";
}

@media screen and (max-width: 480px) {
  .eds-global-header__minor {
    display: none;
  }
  .eds-global-header__additional-menu {
    display: none;
  }

  .body-content {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .ticket-left,
  .ticket-right {
    width: 100%;
    /* margin-bottom: 20px; */
    /* padding: 5%; */
  }

  .ticket-right {
    margin-bottom: 25px;
  }

  .footer {
    height: 40px;
  }

  .footer-list {
    display: none;
  }
}
